<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <script href="../assets/js/bootstrap.min.js" type="text/javascript" charset="utf-8"> </script>
  <title>Register</title>
</head>
<body>
<div class="container">
  {{template "header"}}
  <form method="post" action="/register">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword2" class="form-label">Confirm the password</label>
      <input type="password" name="password2" class="form-control" id="exampleInputPassword2">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


</body>
</html>