<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>测试嵌套template语法</title>
</head>
<body>
<h1>测试嵌套template语法</h1>
<hr>
{{/*嵌套另一个单独的template模板文件*/}}
{{template "ul.template"}}
{{/*嵌套另一个定义的模板*/}}
{{template "ol.template"}}
<hr>
<div>你好，{{.}}</div>
{{/*使用 define 定义一个模板*/}}
{{define "ol.template"}}
    <ol>
        <li>吃饭</li>
        <li>睡觉</li>
        <li>打游戏</li>
    </ol>
{{end}}
</body>
</html>